body{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   /* Edit Background*/
   background: linear-gradient(45deg,#ff0 50%,#333 50%);
  /* background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('city.jpg'); 
   background-size:cover;
   background-position:center;*/
}
.container{
  height: 80vh;
  width: 80%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0);
  padding: 10px;
  overflow-y: auto;
}
.input-box{
  display: inline-block;

}

ul li{
  background: #eee;
  color: #333;
  height: 10%;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px;
  
}
ul .delete-btn{
  align-self: right;
  position:relative;
  cursor: pointer;
  background: #ff0033;
  color: white;
  border: none;
  outline: none;
  padding: 5px 5px;
  border-radius: 5px;
  float: right;
}
ul .fa-check{
  cursor: pointer;
  margin-right: 5px;
  color: green;
}
 .checked{
  background: lightgreen;
  text-decoration: line-through;
}
 .unchecked{
   background:#eee;
   text-decoration: none;
 }
